<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title></title>
<meta name='description' content=''>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous'>
</head>
<body class='text-center'>
    <p class="display-5 text-success mt-5"> Success! Thank you for your soul. :)</p>
</body>
</html>